

.guest-name {
  white-space: nowrap;
  font-weight: bold;
  width: 100%;
}

tbody {
  font-size: 1.7vh;
  font-family: "courier new",monospace;
  font-weight: bold;
}

.ant-table-wrapper, .outter-paper{
  background: #fcffe3;
  font-size: inherit;
  border: .1vh solid #fa7193;
  padding: .5vh;
  /* min-height: 40vh; */
}

.ant-table-cell, .paper {
  white-space: nowrap;
  background: #fffec2 !important;
  text-align:center !important;
  background: inherit;
  border-top: #fa7193 .1vh solid ;
  border-bottom: #fa7193 .1vh solid ;
}
.ant-table-thead > tr > th , .title-paper {
  font-size: min(2.7vw, 2.8vh);
  margin: auto;
  font-family: "suze one";
  color: #fffec2;
  background: #fa7193 !important;
  text-align:center !important;
  padding: 1.5vh!important;
  font-weight: 1000;
  }
.inner-paper {
  width: 100%;
}
  .title-paper {
    margin-top: 0 !important;
  }
#cushion {
  min-height: 15vh !important;
}

.flex-col {
  height: 100vh;
  display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: column;
  overflow-y: scroll;
}

.guest-book.center {
  margin: auto;
}

.paper {
  white-space:normal !important;
  text-align: left!important;
}
.text-paper{
  padding-left: 1vh;
  padding-right: 1vh;
}

.content {
  text-align: left;
  font-size: 2vh;
  font-weight: 400;

  margin-left: 10vw;
  margin-right: 10vw;
  padding-left: 2vh;
  padding-right: 1vh;
}
@media screen and (min-width: 950px) {
  .content {
      margin-left: 20vw;
      margin-right: 20vw;
      padding-left: 2vh;
      padding-right: 2vh;
  }

  .table {
    display: block;
  }

  #mngmnt {
    font-family: Georgia, 'Times New Roman', Times, serif!important;
  }
}