
@media (min-width: 1000px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  #wrapper {
    margin-left: 20vw !important;
    margin-right: 20vw !important;
    border-left: .2vh solid grey;
    border-right: .2vh solid grey;
    padding-left: 1vh;
    padding-right: 1vh;
  }
}

@keyframes pulse {
	0% {
    box-shadow: 0 0 0 0 rgba(0, 255, 98, 0);
  }
	25% {
    box-shadow: 0 0 0 .5vh rgba(0, 255, 98, 0.253);
  }

	50% {
    box-shadow: 0 0 0 1vh rgba(240, 128, 128, 0.356);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes grow {

  0% {
    transform: scale(1);
  }

    50% {
      transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes float {

  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(1vh);
  }
  100% {
    transform: translatey(0px);
  }
}
#sneek-top {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

#title {
  position: relative;
  padding-top: 3vh;
  /* height: auto; */
  margin-top: 5vh;
  margin-bottom: 5vh;

}

#holy-relapse > .ant-image-img {
  position: static;
  padding: 4vh 0 4vh 0;
}

#holy-relapse {
  position: static;
  left: 0;
  width: 100%;
  box-shadow: 10px, 10px, 10px rgb(241, 24, 0);
  animation: float 6s ease-in-out infinite;
}
#wrapper {
  position: relative;
  animation: float 15s infinite;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 5vh;
  min-width: min(40vh, 700px);
  margin: 2% 2% 0 2%;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255, 196, 0, 0.26),rgba(255,0,0,0),rgba(128, 12, 195, 0.363),rgba(52, 40, 105, 0.651));
  font-size: min(1.5vh, 100px);
  color: #422541ec;
}
.sneek {
  position: relative;
  padding: 0;
  background-color:none;
  top:10px;
}

.arriving {
  margin-bottom: 20vh;
}

.space{
  height: 55px;
}
.intro {
  font-size: max(2vh, 2vw);
  /* height: 50vh; */
  color: rgb(4, 22, 4) !important;
  text-align: center;
  vertical-align: middle;
  padding: 5vw;
  /* margin-bottom: 15vh; */
  text-shadow: .1vh .1vh .1vh rgb(214, 191, 188);
}

.ant-image {
  min-height: 15vh;
  min-width: 16vh;
  overflow: hidden;
height: 100%;
width: 100%;
 position:absolute;
 bottom: 0;
 left: 0;
 z-index: 5;
}
.ant-image-img {
  position:absolute;
  bottom: 0;
  width: 100%;
  height:100%;
}
.figure {
  height: 100%;
  bottom:0;
  width: auto;

  z-index: 20;
}
.Crime-Wave {
  max-height: max(14em, 11vw);
  min-height: max(18vh, 16vw);
}
.character-block {
  height: 20vh;
  flex-direction: row;
  position: relative;
  animation: grow 20s ease-in-out infinite;
}

.circle {
  padding: 0;
  bottom: 0;
  width: max(20vh,20vw);
  height: max(20vh,20vw);
  border-radius:50% 50% 50% 50%;
  background-color: rgb(168, 145, 168);


  box-shadow: 0 0 0 max(.5vh, .5vw) rgba(240, 128, 128, 0.514);
  transform: scale(1);
  animation:  pulse 4s ease-in-out infinite;
  position: absolute;
  /* -webkit-box-shadow: inset 1vh 1vh 1vh rgba(0, 0, 0, 0.596);
  -moz-box-shadow:inset 1vh 1vh 1vh #000;
  box-shadow: inset 1vh 1vh 1vh rgba(255, 150, 211, 0.459); */
}

.one > .circle {
  /* animation: float 8s ease-in-out infinite; */
}
.two > .circle {
  /* animation: float 9s ease-in-out infinite; */
}

.bottom-half {
  padding: 0;
  box-shadow: none !important;
  overflow: hidden;
  height: max(21vh,21vw);
  width: max(20vh,20vw);
  border-radius:0% 0% 50% 50%;
  background-color: none;
  background: none;

}

.one > .circle {
  right: .5vh;
}
.two > .circle {
  left: .5vh;
}
.no-margin {
  margin-bottom: 0;
}

.no-shaddow {
  text-shadow: none;
}
