.ad {
   background-position: center;
  background-size:contain ;
  background-repeat: no-repeat;
  width:  80vw;
  height: 29vw;
  background-color: rgb(121, 255, 121);
  margin-top: 1vh;
}


.topLeft {
  width:min(65vh, 65vw) !important;
  height: min(23.5vw, 23.5vh) !important;
}

.ad1 {
  background-image:url('../../media/Sell_Your_Soul1.gif')  !important;
}

.ad2 {
  background-image:url('../../media/Sell_Your_Soul2.gif')  !important;
}
.ad3 {
  background-image:url('../../media/Sell_Your_Soul3.gif')  !important;

}

.ant-notification-notice-icon , .ant-notification-notice-close{
  position: absolute;
  height: 30%;
  width: 20%;
  margin: 0;
  top: 0;
  line-height: 0;
  color: rgb(0, 255, 170);
  font-family: "suze one";
  font-size: 2vh;
  font-weight: 1000;
}
.ant-notification-notice-icon {
  left: 0;

}
.ant-notification-notice-close{
  right: 0;
  width: 3.5vh;
  text-align: center;
}

.ant-notification-bottomLeft {
  position: fixed;
  margin-left: 50%;
  transform: translateX(-50%);

}

.advert {
 background-color: rgba(128, 128, 128, 0.541);
 width: 100%;
 height: 100%;
 white-space: nowrap;
 border: none;

 }
 @media screen and (min-width: 800px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
 .ad {
  width: min(55vw, 600px);
  height: min(20vw, 215px);
 }
}




