.ant-card-body {
  font-size: 1.5vh ;
  padding: min(1vh, 1vw)

}

.ant-card-body {
}

.card-drop {
  border: .2vw solid #e5ffe32a;
  border-bottom: .2vw solid #afc2ae1f;
  border-right: .2vw solid #a5bba41e;
   color: #27694f;
  background: rgba(161, 235, 201, 0.13);
  position: relative;
  height: 3vh;
  width: 100%;

  transition: .3s;
}

button.card-drop:focus {
  outline:.1vh solid #59b691c0;
  border:.1vh solid #1c6447c0;
}
button.card-drop:hover {
  background-color: #1c644746 ;
  color: #ff517dc7;
  outline:.1vh solid #59b6918c;
  border:.1vh solid #1c64474d;
}

.ant-btn-primary, .ant-btn-default {
  background-color: #9ff09e !important;
  border-color: #9ff09e  !important;
}

.ant-card.ant-card-bordered {
  background-color: #d3ffd2 !important;
  border-color: rgb(180, 248, 216);
   overflow-y: hidden;
   overflow-x: hidden;
   margin-right: 3vw;
  /* width: 30vw; */
  margin-right: 10%;
  transition: ease-in-out .3s;
 }

 .ant-card.ant-card-bordered:hover{
  box-shadow:  #1c644760 .5vh .5vh 1vh;
 }

 .price {
  word-wrap: break-word;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vh;
  position: absolute;
  background-color: #ff517d;
  transform: rotate(-30deg);
  bottom: 0;
  width: 4.2em;
  height: 3em;
  right: 0;
  overflow: hidden;
  /* bottom: -5%; */
}

.card-title{
  color: #1c6447;
  font-family: 'Suez One';
  font-size: 85% ;
  font-weight: 800;
  text-align: center;
  height: 3em;
  margin-top: 1vh;
  margin-bottom: 1vh;

}



.card-image[wobble='1'] {
  animation: wobble 1s 1;
}

@keyframes wobble {
  25% {
    transform: rotate(15deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(0deg);
  }

}

.product-description {
  height: 0;
  visibility: hidden;
  background: #e5ffe3;
  padding: 0vh  1vh 1vh 1vh;

  /* padding: min(1.5vh,1vw); */

}

.product-description[expandDescription='1'] {
  visibility: visible;
  transition: all .2s ease-in-out;
  height: 15vh;
}
.product-description[expandDescription='0'] {
  transition: all .2s ease-in-out;
  height: 0vh;
  visibility: hidden;
}
.down {
  max-height: 3vh;
  width: 100%;
  transform: .3s ease-in-out;
}

.down[expandDescription='1'] {
  transform: rotate(180deg)
}

.card-image {
  max-height: 30vw;
  display: block;
  margin: 0;
  width: 100%;
  text-align: center;
}

.container {
  background-color: #e5ffe3;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: min(700px, 30vw) !important;
  margin-right: 0 !important;
}


.item {
  position: relative;
  margin-top: 1vh;
  margin-bottom: 2vh;
  max-width: min(30%, 30vw) !important;
  flex-shrink: 0;
  /* transform: scale(1); */
  transition: all .2s ease-in-out
}

.item:hover {
  /* max-height: min(700px, 30vw) !important; */
  transform: scale(1.05);

}




