@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');



@media (min-width: 800px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */
  .row {
    margin-left: 20vw;
    margin-right: 20vw;
    border-left: .2vh solid grey;
    border-right: .2vh solid grey;
    padding-left: 1vh;
    padding-right: 1vh;
  }

  #lobby, #lobby2 {
    width: 82% !important
  }

}




 .ant-divider-with-text-left > .ant-divider-inner-text {
  font-family: 'Suez One';
  /* text-shadow:.5px .5px #b8556d; */
  color :#ff517d ;
  font-size: 2vh;
}
 .ant-divider-inner-text {
  font-family: 'Suez One';
  /* text-shadow:.5px .5px #b8556d; */
  font-size: 2vh;
}
.sample {
  background-color: #d5ff9de1;
}
body {
  background: #c3ffc0;
  overflow: visible !important;
  font-size: 1.7vh;
}
.pawn-shop {

  font-size: 4vh;
  vertical-align:middle;
  line-height: 0;
}

.ant-layout-footer {
  font-size: 3vh;
  line-height: 10vh;
}

.ant-layout-header{
  line-height: 10vh;
  height: 11vh;
  flex-direction: row;
  flex-wrap: nowrap;
  top:0;
  position: relative;
  z-index: 10;
  color :#ff517d !important;
  text-shadow:
  .5px .5px #b8556d,
  1px 1px rgb(184, 85, 109),
  1.5px 1.5px rgb(184, 85, 109),
  2px 2px rgb(184, 85, 109),
  2.5px 2.5px rgb(184, 85, 109),
  3px 3px rgb(184, 85, 109) !important ;
  box-shadow: .05vh .05vh 4vh rgb(174, 195, 177);

  background :#ffff62 !important;
}
 .ant-layout-footer {
   flex-direction: row;
   word-wrap: nowrap;
   width: 100%;
   position: static;
   bottom: 0;
 }

.center {
  left: 50%;
  right: 50%;
  margin: auto;
  text-align: center;
 }

 #trapezoid {
  line-height: 0;
  border-bottom: 6vh solid #d6ee9398;
  border-left: 5.5vw solid transparent;
  border-right: 5.5vw solid transparent;
  height: 0;
  width: 100%;
  transform: rotate(180deg);
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}


#lobby {
  padding: 0;
  margin-top: 0;
  border-top: .5vh solid #c1d48d98;
  /* line-height: 0; */
  /* background-color: #c1d48d98; */
  height: 8vh;
  width: 89%;
  background-image: linear-gradient(to bottom, #c1d48d98, #ffffff00  );

}

.holy {
  max-width: 100%;
}

p {
  text-align: center;
}

#trapezoid2 {
  line-height: 0;
  border-bottom: 6vh solid #d7ffe6c9;
  border-left: 5.5vw solid transparent;
  border-right: 5.5vw solid transparent;
  height: 0;
  width: 100%;

  margin-bottom: 0;
  padding: 0;
}

#lobby2 {
  padding: 0;
  margin-top: 0;
  /* border-top: .5vh solid #c1d48d98; */
  line-height: 0;
  /* background-color: #c1d48d98; */
  height: 8vh;
  width: 89%;
  background-image: linear-gradient(to top, #c1d48d98, #ffffff00  );

}
.missing {
  max-height: 35vh;
  z-index: 100000;
  position: fixed;
  margin-left: 25%;
  box-shadow: 2px 2px 5px #212220b0;
}

#top-page {
  left: 50%;
  transform-origin: center;
  box-shadow: 1vh 1vh 5vw 5px #212220a8;
  position: fixed;
  z-index: 100001;
  height: 95vw;
}

