@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

.card-image {
  background-color: #e5ffe3;
  margin-right: 5%;
  margin-top: 1.5%;
  object-fit: cover;
  width:100%;
  height: auto;
}

span {
  font-family: 'Suez One';
  text-shadow:.5px .5px #b8556d;
  color :#ff517d !important;
}

.ad {
  z-index: 1;
  background-position: center;
  background-image:url('../../media/Sell_Your_Soul.gif')  !important;
  background-size:cover ;
  background-repeat: no-repeat;
  min-height: 13vh;

}
.ad.bottom{
  z-index: 1;
}
.card-title{
  color: #1c6447;
  font-family: 'Suez One';
  font-size: 85% ;
  font-weight: 800;
  top:1px;
}

.container {
  position: relative;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 95%;
  max-height: 20em;

}

.price {
  overflow: hidden;
  word-wrap: break-word;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  background-color: #ff517d;
  transform: rotate(-30deg);
  width: 5em;
  height: 3em;
  right: -5%;
  bottom: -5%;
}

.sample {
  background-color: #d5ff9de1;
}

body {
  background: #c3ffc0;
  overflow: visible !important;
}



.pawn-shop {
  font-size: 4vh;
}

.ant-layout-header{
  height: 11vh;
  flex-direction: row;
  flex-wrap: nowrap;
  top:0;
  position: relative;
  z-index: 10;
  color :#ff517d !important;
  text-shadow:
  .5px .5px #b8556d,
  1px 1px rgb(184, 85, 109),
  1.5px 1.5px rgb(184, 85, 109),
  2px 2px rgb(184, 85, 109),
  2.5px 2.5px rgb(184, 85, 109),
  3px 3px rgb(184, 85, 109) !important ;
  box-shadow: .05vh .05vh 4vh rgb(174, 195, 177);

  background :#ffff62 !important;
}

.advert {
  z-index: 1;
  outline: 0;
  border: none !important;
  background: #c2939f78;
  color: #c0ffbe7a;
  position: absolute;
  top: 0%;

 }

 .right {
   position: absolute !important;
   border: 4px;
   top: -15px !important;
   right: 1;
 }
 .ant-notification-notice {
   z-index: 1;
   padding-top: 0;
   height:90px;
 }
 .ant-notification-notice-closable {
   z-index: 1;
  max-height:110px !important;
   padding-left: 0;
   padding-top: 1%;
 }

 .ant-notification-notice .ad .ant-notification-notice-closable {
   z-index: 1;
   height: 105px;
 }

 .ant-card-body {
   margin: 20px, 20px,20px, 20px;
   padding-left: .5em;
   padding-top: .5em;
 }

 .scroll {
   width: 100%;
   overflow-y: visible;
   flex-direction: row;
   flex-wrap: nowrap;
   overflow-x: scroll !important;
 }

 .ant-layout-footer {
   flex-direction: row;
   word-wrap: nowrap;
   width: 100%;
   position: static;
   bottom: 0;
 }

 .ant-modal-wrap {
   z-index: 10000000;
 }



 .ant-btn-primary, .ant-btn-default {
  background-color: #9ff09e !important;
  border-color: #9ff09e  !important;
}

.ant-card.ant-card-bordered {
  background-color: #d3ffd2 !important;
  overflow-y: hidden;
  margin-bottom: 0vh;
  z-index: 1;
  max-height: 100%;
  overflow-x: hidden;

}

.checkbox {
  text-align: center;
  width: 100%;

  /* margin-top: 100%; */
  position: static;
  right: 50%;
}

.ant-modal-confirm-body, .ant-modal-confirm-body-wrapper {
  height: 95%;

}

.ant-modal-confirm-body-wrapper {

  box-shadow: 0vh 0vh 5vh #c5eec4;
  background-color: #c5eec5;
}

.ant-modal-confirm-title {
  text-align: center;
  left: 50%;
  right: 50%;

}
.center {
  left: 50%;
  right: 50%;
  margin: auto;
  margin-top: 5%;
 }

 #trapezoid {
  line-height: 0;
  border-bottom: 6vh solid #d6ee9398;
  border-left: 5.5vw solid transparent;
  border-right: 5.5vw solid transparent;
  height: 0;
  width: 100%;
  transform: rotate(180deg);
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}


#lobby {
  padding: 0;
  margin-top: 0;
  border-top: .5vh solid #c1d48d98;
  line-height: 0;
  /* background-color: #c1d48d98; */
  height: 8vh;
  width: 89vw;
  background-image: linear-gradient(to bottom, #c1d48d98, #ffffff00  );

}

#terms {
  padding: 1.5vh;
  font-size: 1.5vh;
  background-color: #edffec;
  height: 15vh;
  left: 50%;
  right: 50%;
  margin: auto;
  width: 80%;
  overflow-y: scroll;
}

.holy {
  max-width: 100%;
}

p {
  text-align: center;
}

#trapezoid2 {
  line-height: 0;
  border-bottom: 6vh solid #d7ffe6c9;
  border-left: 5.5vw solid transparent;
  border-right: 5.5vw solid transparent;
  height: 0;
  width: 100%;

  margin-bottom: 0;
  padding: 0;
}

#lobby2 {
  padding: 0;
  margin-top: 0;
  /* border-top: .5vh solid #c1d48d98; */
  line-height: 0;
  /* background-color: #c1d48d98; */
  height: 8vh;
  width: 89vw;
  background-image: linear-gradient(to top, #c1d48d98, #ffffff00  );

}
.missing {
  max-height: 35vh;
  z-index: 100000;
  position: fixed;
  margin-left: 25%;
  box-shadow: 2px 2px 5px #212220b0;
}

#top-page {
  left: 50%;
  transform-origin: center;
  box-shadow: 1vh 1vh 5vw 5px #212220a8;

  position: fixed;
  z-index: 100001;
  height: 95vw;

}


.item {
  margin-left: 1.5vh;
}
